<div class="container " >
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form action="/post-create" method="POST" id="Post-form">
        <br>
        <h2 class="text-center bold-font">Share Your Thought</h2>
        <div >
          <label for="post" class="text-muted mb-1"><small>Write your thoughts here</small></label>
          <textarea required name="body" id="post" class="body-content form-control" placeholder="Write your thoughts here......"  type="text"></textarea>
        </div>
        <input type="hidden" name="postType" value="text">
        <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
      </form>
      <hr>
      <form action="/post-create" method="POST" id="Post-form" enctype="multipart/form-data">
        <br>
        <h2 class="text-center bold-font">Share Photos</h2>
        <div >
          <label for="post" class="text-muted mb-1"><small>Caption</small></label>
          <textarea name="body" id="post" class="body-content form-control" placeholder="Write caption here."  type="text"></textarea>
        </div>
        <div class="custom-file form-group">
          <label for="FormControlFile1">Choose picture file</label>
          <input type="file" name="postFile" class="form-control" id="FormControlFile1" />
        </div>
        <input type="hidden" name="postType" value="photo">
        <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
      </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<hr>