<%- include('includes/header') %>
<div class="container py-md-5 container--narrow">

          <div class="container" style="background-color: #fff">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10 shadow">
                <h2 class="bold-font text-center">Search home-tuitor on your area</h2>
                <form action="/search-home-tuitor" method="POST" class="mb-0 pt-2 pt-md-0" id="searchHomeTuitor">
                 
                    <div class="form-group">
                      <label for="district" class="text-muted mb-1"><small>Select Your District</small></label>
                      <select id="district" class="form-control" name="district" form="searchHomeTuitor">
                        <option value="darjeeling">Darjeeling</option>
                        <option value="jalpaiguri">Jalpaiguri</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="policeStation" class="text-muted mb-1"><small>Select Police Station</small></label>
                      <select id="policeStation" class="form-control" name="policeStation" form="searchHomeTuitor">
                        <option value="siliguri">Siliguri</option>
                        <option value="pradhan nagar">Pradhan Nagar</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="postOffice" class="text-muted mb-1"><small>Select Post Office</small></label>
                      <select id="postOffice" class="form-control" name="postOffice" form="searchHomeTuitor">
                        <option value="champasari">Champasari</option>
                        <option value="siliguri">Siliguri</option>
                      </select>
                    </div>
          
                      <button class="btn btn-primary btn-block">Search tuitor</button>
                    
                  </div>
                </form>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
</div>

  <%- include('includes/footer') %>