
<div style="background-color: #fff;">
  <h4 class="bolder col"><strong>All Students (20)</strong></h4>
  <div style="display: flex;    flex-wrap: wrap;">
    <div class="col-md-6">
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div> 
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>

    </div>
    <div class="col-md-6" >
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-color: #fff;">
  <h4 class="bolder col"><strong>All Teachers (20)</strong></h4>
  <div style="display: flex;    flex-wrap: wrap;">
    <div class="col-md-6">
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div> 
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>

    </div>
    <div class="col-md-6" >
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-color: #fff;">
  <h4 class="bolder col"><strong>All Friends (20)</strong></h4>
  <div style="display: flex;    flex-wrap: wrap;">
    <div class="col-md-6">
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div> 
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>

    </div>
    <div class="col-md-6" >
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
      <div class="connection-container">
        <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-sohag.jpg" alt="">
        <div class="name-container">
          <strong class="d-block ml-2" style="width: 100%;">Sohag Roy</strong>
          <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
        </div>
      </div>
    </div>
  </div>
</div>
