
<div style="background-color: #fff;">
  <h4 class="bolder ml-2"><strong>All Running Batches (20)</strong></h4>
  <div style="display: flex;    flex-wrap: wrap;">
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
  </div>
  <h4 class="bolder ml-2"><strong>All Running Taken Batches (20)</strong></h4>
  <div style="display: flex;    flex-wrap: wrap;">
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    <div class="batch-data ml-2 mb-2 profile-batch-show">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
  </div>
</div>
