<div class="row">
  <div class="col"></div>
  <div class="col-lg-8">
    <div class="signUp-form-container ">
      <h2 class="bolder text-left">Upgrade account</h2>
      <form action="/upgradeAccount" method="POST" id="accountUpgrade-form">
        <strong class="text-primary">Qualification data</strong>
        
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="qualification-register" class="text-muted mb-1"><small>Select your qualification</small></label>
            <select id="qualification-register" class="form-control form-control-lg" name="qualification" form="accountUpgrade-form">
              <option value="under-secondary">Under Secondary</option>
              <option value="secondary">Secondary</option>
              <option value="higher-secondary">Higher Secondary</option>
              <option value="under-graduation">Under Graduation</option>
              <option value="post-graduation">Post Graduation</option>
              <option value="phd-graduation">PHD</option>
            </select>
          </div>

          <div class="form-group col-sm-6">
            <label for="stream-register" class="text-muted mb-1"><small>Select your stream</small></label>
            <select id="stream-register" class="form-control form-control-lg" name="stream" form="accountUpgrade-form">
              <option value="science">Science</option>
              <option value="arts">Arts</option>
              <option value="commerce">Commerce</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="subject-register" class="text-muted mb-1"><small>Subject name</small></label>
          <input name="subject" id="subject-register" class="form-control form-control-lg" type="text" placeholder="Stream/favourite subject name" autocomplete="off" />
        </div>
        <strong class="text-primary">Qualification percentage</strong>
        <i class="text-danger d-block">(Ignore below fields if not qualified)</i>
        <div class="form-group">
          <label for="secondary-percentage-register" class="text-muted mb-1"><small>Class 10th percentage</small></label>
          <input name="secondaryPercentage" id="secondary-percentage-register" class="form-control form-control-lg" type="number" placeholder="Enter percentage" autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="higherSecondary-percentage-register" class="text-muted mb-1"><small>Class 12th percentage</small></label>
          <input name="higherSecondaryPercentage" id="higherSecondary-percentage-register" class="form-control form-control-lg" type="number" placeholder="Enter percentage" autocomplete="off" />
        </div>
        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Upgrade Account</button>
      </form>
    </div>
  </div>
  <div class="col"></div>
</div>
