
<div class="container" style="padding:.5rem;">
  <div class="path">
    <div class="row ">
      <div class="col-md-6" style="width: 100%;">
        <div class="btn btn-primary btn-block"><i class="far fa-plus-square"></i>&nbsp; Create new batch</div>
        <hr class="visibleItemsOnCollapse">
      </div>
      <div class="col-md-6">
        <div class="btn btn-secondary btn-block"><i class="far fa-plus-square"></i>&nbsp; Home-tuition announcement</div>
      </div>
    </div>
  </div>
</div>

<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h4 class="bolder text-primary ">Students Batch Data</h4>
  <h5 class="bolder">All running batches</h5>
  <div class="teacher-banner-container pb-2">
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 4</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 07:00am-09:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 3</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 11th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 09:00am-11:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 9th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Monday,Friday</span>
        <span class="d-block"><strong>Time : </strong> 06:00am-08:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 1</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 8th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 07:00pm-09:00pm</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

  </div>
</div>


<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h5 class="bolder">All old batches</h5>
  <div class="teacher-banner-container pb-2">
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 4</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 3</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Sohag Roy</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 1</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Teacher Name : </strong> Pranab Sinha</span>
        <span class="d-block"><strong>Stream : </strong> Science</span>
        <span class="d-block"><strong>Subject : </strong> Physics</span>
        <span class="d-block"><strong>Class : </strong> 9th</span>
        <span class="d-block"><strong>Session : </strong>2018-2019</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

  </div>
</div>

<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h4 class="bolder text-primary ">Teachers Batch Data</h4>
  <h5 class="bolder">All running batches</h5>
  <div class="teacher-banner-container pb-2">
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 4</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 07:00am-09:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 3</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 11th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 09:00am-11:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 9th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Monday,Friday</span>
        <span class="d-block"><strong>Time : </strong> 06:00am-08:00am</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 1</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 8th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Days : </strong> Saturday,sunday</span>
        <span class="d-block"><strong>Time : </strong> 07:00pm-09:00pm</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

  </div>
</div>

<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h5 class="bolder">All home-tuition announcements</h5>
  <div class="teacher-banner-container pb-2">
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Announcement No : 4</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Stream : </strong> Science</span>
        <span class="d-block"><strong>Subject : </strong> Computer Science</span>
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Address : </strong> Darjeeling, pradhan nagar, champasari</span>
        <div class="class btn btn-primary btn-sm">
          Announcement details
        </div>
      </div>
    </div>
    
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Announcement No : 3</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Stream : </strong> Science</span>
        <span class="d-block"><strong>Subject : </strong> Computer Science</span>
        <span class="d-block"><strong>Class : </strong> 9th</span>
        <span class="d-block"><strong>Address : </strong> Darjeeling, pradhan nagar, champasari</span>
        <div class="class btn btn-primary btn-sm">
          Announcement details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Announcement No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Stream : </strong> Science</span>
        <span class="d-block"><strong>Subject : </strong> Computer Science</span>
        <span class="d-block"><strong>Class : </strong> 12th</span>
        <span class="d-block"><strong>Address : </strong> Darjeeling, pradhan nagar, champasari</span>
        <div class="class btn btn-primary btn-sm">
          Announcement details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Announcement No : 1</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Stream : </strong> Science</span>
        <span class="d-block"><strong>Subject : </strong> Computer Science</span>
        <span class="d-block"><strong>Class : </strong> 11th</span>
        <span class="d-block"><strong>Address : </strong> Darjeeling, pradhan nagar, champasari</span>
        <div class="class btn btn-primary btn-sm">
          Announcement details
        </div>
      </div>
    </div>

  </div>
</div>


<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h5 class="bolder">All old batches</h5>
  <div class="teacher-banner-container pb-2">
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 4</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 10th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>
    
    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 3</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 11th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Session : </strong>2019-2020</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 2</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 9th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Stream : </strong>Science<span>
        <span class="d-block"><strong>Session : </strong>2018-2019</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

    <div class="batch-data">
      <div style="position: relative;">
        <img class="teacher-image-batch"  src="/images/profile/profile-sohag.jpg" alt="">
        <div class="batch-no">Batch No : 1</div>
      </div>
      <div class="text-left batch-data-container" >
        <span class="d-block"><strong>Class : </strong> 8th</span>
        <span class="d-block"><strong>Subject : </strong> Math</span>
        <span class="d-block"><strong>Stream : </strong>Science</span>
        <span class="d-block"><strong>Session : </strong>2018-2019</span>
        <div class="class btn btn-primary btn-sm">
          Batch details
        </div>
      </div>
    </div>

  </div>
</div>
