<div class="row">
  <div class="col-md-4">
    <div class="container">
      <div class="item-container mb-2">
        <strong><p>Identity</p></strong>
        <hr style="margin-bottom: .25rem;margin-top: 0rem;">
        <p><i class="fas fa-briefcase"></i><strong> Work -</strong> Student</p>
        <p><i class="fas fa-home"></i> <strong> Home - </strong> Champasari</p>
        <p><i class="fas fa-graduation-cap"></i><strong> College - </strong> Siliguri College</p>
        <p><i class="fas fa-map-marker-alt"></i><strong> Address - </strong> Siliguri</p>
        <p><i class="fas fa-clock"></i><strong> Joined on - </strong> 5 may 2021</p>
        <p><i class="fas fa-male"></i><strong> Gender - </strong> Male</p>
        <p><i class="fas fa-female"></i><strong> Gender - </strong> Female</p>
        
        <div class="btn btn-secondary btn-block"><i class="fas fa-pen"></i> Update your profile</div>
    
        <hr>
        <div class="btn btn-primary btn-block"><i class="fas fa-plus"></i> Upgrate account as a teacher</div>
      </div>
      <div class="item-container mb-2">
        <div class="btn btn-success btn-block">All running batches <i class="fas fa-arrow-right"></i></div>
      </div>
      <div class="item-container mb-2">
        <div class="container d-flex justify-content-center">
          <div class="row">
              <div class="col-md-12">
                  <div class="stars text-center">
                    <h5><strong>Your Openion</strong></h5>
                      <form action="/giveRating/" method="post"> 
                        <div class="form-group btmMarginZero">
                          <label for="comment" class=" mb-1"><small>Comment</small></label>
                          <input name="comment" id="comment" class="form-control" type="text" placeholder="Comment about the teacher." required autocomplete="off" />
                          <strong>Give Your Rating</strong>
                        </div>
                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                        <label class="star star-5" for="star-5"></label>
                          <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                        <label class="star star-4" for="star-4"></label>
                          <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                        <label class="star star-3" for="star-3"></label>
                          <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                        <label class="star star-2" for="star-2"></label>
                          <input class="star star-1" id="star-1" type="radio" name="star" value="1"/> 
                         <label class="star star-1" for="star-1"></label> 
                         <button type="submit" class="btn btn-primary btn-sm text-center"> Submit rating</button>
                        </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="item-container mb-2">
        <strong><p>Friends (90)</p></strong>
        
        <div class="row mb-2">
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 100%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <a href=""><span class="d-block text-left">Sohag Roy</span></a>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
        </div>
        
        <p class="btn btn-primary btn-block">See all friends...</p>
      </div>
      <div class="item-container mb-2">
        <strong><p>Teachers (9)</p></strong>
        
        <div class="row mb-2">
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
        </div>
        <p class="btn btn-primary btn-block">See all teachers...</p>
      </div>
      <div class="item-container mb-2">
        <strong><p>Students (90)</p></strong>
        <div class="row mb-2">
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 100%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <a href=""><span class="d-block text-left">Sohag Roy</span></a>
          </div>
          <div class="col-4 text-center" >
            <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-sohag.jpg" alt="">
            <span class="d-block text-left">Sohag Roy</span>
          </div>
        </div>
        <p class="btn btn-primary btn-block">See all students...</p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4 class="text-center">All Posts</h4>
    <%- include('post-structure') %>
  </div>
</div>