<div class="container mb-2">
  <h5 class="bolder">Your Message Rooms</h5>
  <div class="item-container" >
    <div class="message-room" style="display: flex;">
      <div class="text-center" >
        <img class="avatar-small" style="top:12px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-sohag.jpg" alt="">
        <span  class="badge badge-pill badge-success message-badge">2</span>
      </div>
      <div class="message-room-container">
        <div style="display: flex;">
          <div class="post-input-field">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block">Hello how are you</span>
          </div>
          <div class="post-button">
            <strong class="d-block" style="color:#495057 ;">02/03/2021</strong>
            <span class="d-block">10:10am</span>
          </div>
        </div>
      </div>
    </div>
    <div class="message-room" style="display: flex;">
      <div class="text-center">
        <img class="avatar-small" style="top:12px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-sohag.jpg" alt="">
        <span class="badge badge-pill badge-success message-badge">2</span>
      </div>
      <div class="message-room-container">
        <div style="display: flex;">
          <div class="post-input-field">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block">You : Hello how are you</span>
          </div>
          <div class="post-button">
            <strong class="d-block" style="color:#495057 ;">02/03/2021</strong>
            <span class="d-block">10:10am</span>
          </div>
        </div>
      </div>
    </div>
    <div class="message-room" style="display: flex;">
      <div class="text-center">
        <img class="avatar-small" style="top:12px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-sohag.jpg" alt="">
        <span  class="badge badge-pill badge-success message-badge">2</span>
      </div>
      <div class="message-room-container">
        <div style="display: flex;">
          <div class="post-input-field">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block">Hello how are you</span>
          </div>
          <div class="post-button">
            <strong class="d-block" style="color:#495057 ;">02/03/2021</strong>
            <span class="d-block">10:10am</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>