
  <div class="row">
    <div class="col-lg pt-2 notVisibleOnCollapse" >
      <div class="container">
        <div>
            <a href="">
              <div class="">
              <img class="avatar-small"  src="/images/profile/profile-sohag.jpg" alt="">
              <strong>Sohag roy</strong>
              </div>
            </a>
            <a href="">
              <div class="side-item">
                <i class="fas fa-users fa-lg"></i>
                <strong>Friends</strong>
              </div>
            </a>
            <a href="">
            <div class="side-item">
              <i class="fas fa-chalkboard-teacher fa-lg"></i>
              <strong>Teachers</strong>
            </div>
            </a>
            <a href="">
            <div class="side-item">
              <i class="fas fa-graduation-cap fa-lg"></i>
              <strong>Students</strong>
            </div>
            </a>
            <a href="">
            <div class="side-item">
              <i class="fas fa-school fa-lg"></i>
              <strong>New batches</strong>
            </div>
          </a>
          <a href="">
            <div class="side-item">
              <i class="fas fa-address-book fa-lg"></i>
              <strong>Notes</strong>
            </div>
          </a>
            <hr>
            <a href="">
            <div class="side-item">
              <i class="far fa-address-card fa-lg"></i>
              <strong>About Us</strong>
            </div>
          </a>
          <a href="">
            <div class="side-item">
              <i class="fas fa-address-book fa-lg"></i>
              <strong>Contact Us</strong>
            </div>
          </a>
          <a href="">
            <div class="side-item">
              <i class="fas fa-question-circle fa-lg"></i>
              <strong>Help</strong>
            </div>
          </a>
            <hr>
            <a href="">
              <div class="side-item">
                <i class="fas fa-sign-out-alt fa-lg"></i>
                <strong>Log Out</strong>
              </div>
            </a>
            <hr>
      </div>  
    </div>
    </div>
    <div class="col-lg-6 pt-2 "  >
    <%- include('notes-structure') %>
    </div>
    <div class="col-lg pt-2  notVisibleOnCollapse" >
      <div class="container">
        <div class="card border-light mb-3" style="max-width: 100%;">
          <div class="card-header">Advertisment</div>
          <div class="card-body">
            <h5 class="card-title">Business title will be here</h5>
            <p class="card-text">This is advertisement body.By advertising we can earn money...haaaa haaaa ha</p>
          </div>
        </div>
       <hr>
       <div class="card border-light mb-3" style="max-width: 100%;">
        <div class="card-header">Active contacts</div>
        <div class="card-body">
          <a href="">
          <div style="display: flex;">
            <div >
              <img class="avatar-small active-avatar"  src="/images/profile/profile-sohag.jpg" alt="">
              <span  class="badge active-signal">.</span>
            </div>
            <strong style=" margin-left: 1rem;">Sohag roy</strong>
          </div>
        </a>
          <a href="">
          <div class="side-item" style="display: flex;" >
            <div >
              <img class="avatar-small active-avatar"  src="/images/profile/profile-sohag.jpg" alt="">
              <span  class="badge active-signal">.</span>
            </div>
            <strong>Sohag roy</strong>
          </div>
        </a>
        <a href="">
          <div class="side-item" style="display: flex;" >
            <div >
              <img class="avatar-small active-avatar"  src="/images/profile/profile-sohag.jpg" alt="">
              <span  class="badge active-signal">.</span>
            </div>
            <strong>Sohag roy</strong>
          </div>
        </a>
        <a href="">
          <div class="side-item" style="display: flex;" >
            <div >
              <img class="avatar-small active-avatar "  src="/images/profile/profile-sohag.jpg" alt="">
              <span  class="badge active-signal">.</span>
            </div>
            <strong>Sohag roy</strong>
          </div>
        </a>
        <a href="">
          <div class="side-item" style="display: flex;" >
            <div >
              <img class="avatar-small active-avatar"  src="/images/profile/profile-sohag.jpg" alt="">
              <span  class="badge active-signal">.</span>
            </div>
            <strong>Sohag roy</strong>
          </div>
        </a>
        </div>
      </div>
      </div>
    </div>
  </div>
